body,html {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.navbar {
    padding: 2px;
}

.logo {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo_text {
    color: #ff4d00;
    text-align: center;
    padding-bottom: 21px;
}

#heading {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 0;
}

#book_list {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 130px; 
    margin-right: 130px; 
    padding-bottom: 95px;
}

#title {
    margin-top:0; 
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#author {
    margin-top:0; 
    margin-bottom: 0; 
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

#price {
    font-size: 15px;
    margin-top: 4px; 
    margin-bottom: 0;
}

#button {
    border: 1px solid gray; 
    margin-top:7px;
}
#button:hover {
    cursor: pointer;
}

.col-3 {
    margin-top:40px;
}

.card {
    height: 160px
}